$nav-color: #820000;
$search-btn-color: #C23C3C;
$search-field-color: #591C1C;
$signin-btn-color: rgba(75, 0, 15, 0.6);
$button-txt-color: #628CF8;
$banner-color: #820000;
$delete-button-color: #CC0028;
$button-background-color: #3A3A3A;
$form-background-color: #2E2E2E;
$card-background-color: #222222;
$background-color: #1A1A1A;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background-color: $background-color;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: $nav-color;
    padding: 10px;
    justify-content: space-around;
    list-style-type: none;

    img {
        width: 50px;
    }

    li {
        color: white;
        font-size: 0.8rem;
    }

    form {
        input {
            padding: 5px 0px;
            width: 135px;
            background-color: $search-field-color;
            border: none;
            border-radius: 5px 0px 0px 5px;
        }

        button {
            padding: 5px;
            background-color: $search-btn-color;
            color: white;
            border: none;
            border-radius: 0px 5px 5px 0px;
        }

        button:hover {
            background-color: $signin-btn-color;
        }
    }

    .signin-button {
        background-color: $signin-btn-color;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 7px;
        margin-top: 5px;
        font-size: 17px;
    }

    .signin-button:hover {
        cursor: pointer;
        background-color: $search-btn-color;
    }


}

section {
    h1 {
        color: white;
    }
}

footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    background-color: $card-background-color;
    padding: 25px 0px;

    img {
        width: 45px;
        margin-top: 10px;
    }

    ul {
        text-align: center;
    }

    li {
        color: white;
        list-style: none;
        margin-bottom: 7px;
        font-size: 13px;
    }

    h1 {
        font-size: 18px;
        color: white;
        margin-bottom: 15px;
    }

    p {
        width: 125px;
        color: white;
        font-size: 13px;
    }

    .vl {
        border-left: 1px solid white;
        height: 164px;
    }
}

.dropbtn {
    background-color: $signin-btn-color;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 15px;
    background-color: $delete-button-color;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%;
    /* Placera dropdownen i mitten av förälderelementet */
    transform: translateX(-50%);
    /* Justera positionen för att centrera */
}

.dropdown-content li {
    color: white;
    padding: 12px 16px;
    font-size: 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content li:hover {
    color: $signin-btn-color;
    background-color: $search-btn-color;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: $search-btn-color;
    border-radius: 5px 5px 0px 0px;
}