@tailwind base;
@tailwind components;
@tailwind utilities;

.underline {
        text-decoration: underline;
        text-decoration-color:#820000; /* Adjust the color as needed */
        text-underline-offset: 3px; /* Adjusts the space between text and underline */
    }